<%= render 'navigation' %>

<ol class="breadcrumb">
  <li><%= link_to current_user.username, users_show_path %></li>
  <li class="active">All events for all my People</li>
</ol>

<% unless notice.nil? %>
  <p class="notice"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
    <% @personal_events.personal_newest.each do |personal_event| %>
      <tr>
        <td><%= event_start(personal_event) %>
        <td><%= link_to personal_summary(personal_event), edit_personal_event_path(personal_event) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>