<div class="col-md-8">
  <%= form_for @person do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "name" %>
    </div>
    <div class="form-group">
      <%= f.label :born %>
      <%= f.date_field :born, class: 'form-control', placeholder: "born Date" %>
    </div>
    <div class="form-group">
      <%= f.label :died %>
      <%= f.date_field :died, class: 'form-control', placeholder: "died Date" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "DELETE", remove_person_path(id: @person.id), method: :delete, data: { confirm: 'Are you sure you want to delete this person and all this person\'s events?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>