<%= render 'navigation' %>

<ol class="breadcrumb">
  <li><%= link_to current_user.username, users_show_path %></li>
  <li class="active"><%= @person.name %></li>
</ol>

<% unless notice.nil? %>
  <p class="notice"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
  <p class="alert"><%= alert %></p>
<% end %>

<h1>New Person for <%= current_user.username %></h1>
 
 <div class="row">
   <div class="col-md-12">
    <%= render 'form' %>
   </div>
 </div>