<%= render 'navigation' %>

<ol class="breadcrumb">
  <li><%= link_to @person.user.username, users_show_path %></li>
  <li class="active"><%= @person.name %></li>
</ol>

<% unless notice.nil? %>
  <p class="notice"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
    <caption><%= @person.name %> | <%= link_to "edit", edit_person_path(@person) %></caption>
      <tr><td>born <%= @person.born_long_date %></td></tr>
      <% if @person.died.present? == true %>
        <tr><td><%= @person.died_long_date %></td></tr>
        <% end %>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
    <caption><%= @person.name %>'s events | <%= link_to "new event", new_personal_event_path(person_id: @person.id) %></caption>
    <% if @person.personal_evented? %>
    <% @personal_events.personal_newest.each do |personal_event| %>
      <tr>
        <td><%= event_start(personal_event) %></td>
        <td><%= link_to personal_event.description, edit_personal_event_path(personal_event, person_id: @person.id) %></td>
      </tr>
      <% end %>
      <% else %>
        <tr>
          <td>You have no <%= link_to "events", new_personal_event_path(person_id: @person.id) %> for <%= @person.name %> yet</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>