<%= render 'navigation' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
    <% @historical_events.each do |historical_event| %>
      <tr>
        <td><%= historical_event.event_start %></td>
        <td><%= historical_event.description %><br><%= blurb(historical_event) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>