<%= render 'navigation' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

 <div class="row">
   <div class="col-md-4">
     <p>Profile for <em><%= @user.username %></em></p>
     <p><%= link_to "Account settings", edit_user_registration_path(current_user) %></p>
   </div>
   <h1><%= @user.username %></h1>
 </div>