<%= render 'navigation' %>

<ol class="breadcrumb">
  <li class="active"> </li>
</ol>

<% unless notice.nil? %>
  <p class="notice"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
    <caption>My account | <%= link_to "edit settings", edit_user_registration_path(current_user) %></caption>
      <tr>
        <td>username: <%= current_user.username %></td>
      </tr>
      <tr>
        <td>email: <%= current_user.email %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">

    <table class="table table-bordered table-hover">
    <caption>My People | <%= link_to "new person", new_person_path(current_user) %></caption>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %> <small>b. <%= person.born_date %></small></td>
      </tr>
      <% end %>
    </table>
    <% if current_user.user_people_evented? %>
      <%= link_to "All events for all my People", personal_events_path %>
      <% elsif %>
      <p>You have no events yet. Select one of your people and create some.</p>
    <% end %>
  </div>
</div>