<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h2>Hello, <%= @username %>, here are US Thread Events for <%= Date::MONTHNAMES[Date.today.month] %></h2>
  <h3>Historical Events</h3>
  <% @historical_events.newest.each do |event| %>
    <%= event.starting.strftime('%A, %B %-d, %Y') %> - <%= event.description %><br>
  <% end %>
  <h3>Your Events</h3>
  <% @people.each do |p| %>
    <% p.personal_events.personal_monthy.personal_newest.each do |pe| %>
    <%= pe.starting.strftime('%A, %B %-d, %Y') %> - <%= p.name %> <%= pe.description.downcase %><br>
    <% end %>
  <% end %>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>