<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "The US Thread", historical_events_path %></li>
  <li role="presentation">
    <% if current_user %>
      <%= link_to "Me", users_show_path %>
    <% else %>
      <%= link_to "Me", new_user_session_path %>
      </li>
    <% end %>
    <li role="presentation" class="active"><%= link_to "About", welcome_index_path %></li>

  <div class="pull-right user-info">
    <% if current_user %>
      Hello <%= current_user.username %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>

  
</ul>